@use "../../../global.scss" as *;

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: #e5e8eb solid 1px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 18px 44px;
  background-color: $bgColor;
  z-index: 500;
  .leftHalf {
    height: 100%;
    .logoLink {
      color: $fgColor;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 13.2px;
    }
    .logo {
      height: 100%;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 18px;
      }
    }
    .title {
      font-size: 20px;
      font-family: $titleFont;
      font-weight: 700;
    }
    :hover {opacity: 0.9;}
  }
  .rightHalf > div {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 27px;
    .profileBtn {
      display: flex;
      align-items: center;
      background-color: transparent;
      border-radius: 100%;
      border: none;
      .navProfileImg {
        height: 30px;
        border-radius: 100%;
      }
      :hover {
        opacity: 0.9;
      }
    }
    .menuBtn {
      background-color: transparent;
      border: none;
      height: 13px;
      width: 21px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .menuBar {
        width: 100%;
        border-top: 2px solid $fgColor;
      }
    }
    &:hover .menuBar{
      opacity: 0.8;
    }
  }
  
  .navlink {
    text-decoration: none;
    color: white;
    font-family: $titleFont;
    font-weight: 500;
    font-size: 18px;
    &:hover {
      color: #e5e8eb;
    }
  }
  .profileOverlay {
    display: none;
    position: absolute;
    right: 30px;
    top: calc(100% - 9px);
    max-width: 240px;
    min-width: 150px;
    z-index: 500;
    border-radius: 12px;
    box-shadow: 0px 0px 6px #0d0d0dd4
  }
  .profileOverlayShow {
    @extend .profileOverlay;
    display: block;
  }
  @keyframes profileFadeIn {
    from {
      opacity: 0;
      transform: translateY(-9px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .profileContent {
    background-color: #181b20;
    position: relative;
    z-index: 100;
    padding: 36px 0px;
    border-radius: 12px;
    animation: profileFadeIn 0.5s normal;

    &.freeOverlay {padding: 18px 12px;}

    .profileContentDivider {
      border-color: $fadedBgColor;
    }
    .profilePicWrapper {
      display: flex;
      justify-content: center;
      padding-bottom: 6px;
      .profileImage {
        height: 42px;
        border-radius: 100%;
      }
    }
    .profileContentBottom {
      padding: 3px;
      .profileGreeting {
        color: $fadedFgColor;
        font-family: $titleFont;
      }
      .profileUsername {
        color: $fgColor;
        font-family: $titleFont;
        line-height: 1.8rem;
        overflow: hidden;
      }
    }
    .logoutWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 9px;
      .logoutBtn {
        font: $titleFont;
        font-size: 0.9rem;
        color: $fgColor;
        background-color: $bgColor;
        border: 1px solid $fadedBgColor;
        border-radius: 18px;
        padding: 6px 12px;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .profileOverlayBg {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    opacity: 0.3;
  }
  .sideMenu {
    min-width: 200px;
    max-width: 80%;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    background-color: #181b20;
    animation: menuFadeIn 0.2s;
    overflow-y: auto;
    z-index: 500;
    &::-webkit-scrollbar {display: none;}
    .profileContent {
      animation: none;
      .profileImage {height: 54px;}
      .profileContentBottom {
        padding: 9px 15px;
        gap: 4px;
        display: flex;
        flex-direction: column;
        .profileGreeting {font-size: 1.2rem;}
        .profileUsername {
          font-size: 1.8rem;
          line-height: 2.1rem;
        }
      }
      .logoutBtn {
        font-size: 1.5rem;
        padding: 7px 18px;
        margin: 9px 0px;
      }
    }
    .menuNavlinkContainer {
      display: flex;
      flex-direction: column;
      padding: 36px 0px;
      .navlink {
        font-size: 1.8rem;
        width: 100%;
        padding: 6px 15px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.321);
        }
      }
    }
  }
  @keyframes menuFadeIn {
    from {transform: translateX(100%);}
    to {transform: translateX(0%);}
  }
}
