@use '../../global.scss' as *;

.homeContent {
    margin: auto;
    margin-top: 72px;
    padding: 54px $minContentPaddingX;
    width: $pageContentWidth;

    @media (max-width: $mobileBreakpointWidth) {
        width: calc(100vw - 2*$minContentPaddingX);
    }

    .tabContainer {
        display: flex;
        // justify-content: center;
        gap: 27px;
        margin-top: 36px;
        padding: 0px 18px;
        border-bottom: 1px solid white;

        .tab {
            padding: 6px 0px;
            border-width: 0px;
            background-color: transparent;
            color: $fadedFgColor;
            font-size: 1.3rem;
            cursor: pointer;
            border-radius: 9px 9px 0px 0px;
            transition: color 0.3s;
            &.active {
                color: $fgColor;
                // background-color: rgba(17, 36, 59, 0.459);
                border-bottom: 3px solid $fgColor;
                // font-weight: 600;
            }
        }
    }

    .eventContainer {
        display: grid;
        grid-template-columns: 100% 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        gap: 30px;

        &::-webkit-scrollbar {display: none;}

        .eventListContainer {
            scroll-snap-align: start;
            padding: 18px 0px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .eventItem {
                display: flex;
                gap: 18px;

                .eventLeft {
                    min-width: 0;
                    flex: 1;

                    .eventTitle {
                        font-size: 1.2em;
                        color: $fgColor;
                        font-family: $titleFont;
                    }
                    .eventDesc {
                        @extend .pageDesc;
                        text-overflow: ellipsis;
                        overflow-x: hidden;
                        white-space: nowrap;
                    }
                }

                .eventRight {
                    display: flex;
                    align-items: center;

                    .eventLink {
                        font-size: 1em;
                        font-weight: 600;
                        color: $fgColor;
                        font-family: $titleFont;
                        text-decoration: none;
                        background-color: $fadedBgColor;
                        padding: 9px 18px;
                        border-radius: 27px;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
        .emptyContentMessage {
            color: $fadedFgColor;
            font-family: $titleFont;
            text-align: center;
            padding: 30px 0px;
            font-size: 1.1rem;
        }
    }
}