@use "../../global.scss" as *;

.tableContainer {
  margin: auto;
  margin-top: 72px;
  padding: 54px $minContentPaddingX;
  width: $pageContentWidth;
  overflow-x: scroll;

  @media (max-width: $mobileBreakpointWidth) {
    width: calc(100vw - 2 * $minContentPaddingX);
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    font-family: $titleFont;
    font-weight: 400;
    font-size: 0.9em;
    border: 1.3px solid #3b4754;
    border-radius: 8px;
    width: 100%;

    thead {
      color: $fgColor;
      text-align: left;
      tr {
        background-color: #1c2126;
        th {
          border-bottom: 1px solid white;
          padding: 16px;
          font-weight: 400;
          width: 20%;
        }
        th:first-child {
          border-top-left-radius: 8px;
        }
        th:last-child {
          border-top-right-radius: 8px;
        }
      }
    }

    tbody {
      tr {
        td {
          border-bottom: 1px solid white;
          padding: 16px;
          font-weight: 400;
          color: #9cabba;

          .status {
            padding: 6px 16px;
            border-radius: 20px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            width: 100%;
          }
          .confirmed {
            background-color: #28478a;
            color: white;
          }

          .pending {
            background-color: #293038;
            color: white;
          }
          .cancelled {
            background-color: #a83232;
            color: white;
          }
          .cancel {
            padding: 6px 16px;
            border-radius: 20px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            width: 100%;
            background-color: #293038;
            color: white;
            &:hover {
              cursor: pointer;
            }
          }
          .disabled {
            background-color: #3b4754;
            color: $fadedFgColor;
            cursor: not-allowed !important;
          }
        }
        td:first-child {
          color: $fgColor;
        }
        &:hover {
          background-color: #1c2126;
        }
      }
      tr:last-child {
        td {
          border-bottom: none;
        }
        td:first-child {
          border-bottom-left-radius: 8px;
        }
        td:last-child {
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
}
