$bgColor: #121417;
$fadedBgColor: #293038;
$fgColor: white;
$fadedFgColor: #9CABBA;
$minContentPaddingX: 18px;
$pageContentWidth: clamp(0px, 75vw, 100vw - 2*$minContentPaddingX); //TODO: Adjust it later 

$mobileBreakpointWidth: 720px;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

$titleFont: "Manrope", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pageTitle {
  font-family: $titleFont;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: $fgColor;
}

.pageDesc {
  font-family: $titleFont;
  color: $fadedFgColor;
  font-size: 1rem;
}

@media (max-width: $mobileBreakpointWidth) {
  :root {font-size: 0.8rem;}
}